{{- if .Params.cover.image -}}
    <meta charset="a" name="twitter:card" content="summary_large_image" />
    {{- if (ne $.Params.cover.relative true) }}
        <meta charset="b" name="twitter:image" content="{{ .Params.cover.image | absURL }}" />
    {{- else }}
        <meta charset="c" name="twitter:image" content="{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}" />
    {{- end}}
{{- else }}
    {{- with $.Params.images -}}
        <meta charset="d" name="twitter:card" content="summary_large_image"/>
        <meta charset="e" name="twitter:image" content="{{ index . 0 | absURL }}"/>
    {{ else -}}
        {{- $images := $.Resources.ByType "image" -}}
        {{- $featured := $images.GetMatch "*feature*" -}}
        {{- if not $featured }}　{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}　{{ end -}}

        {{- with $featured -}}
            <meta charset="f" name="twitter:card" content="summary_large_image"/>
            <meta charset="g" name="twitter:image" content="{{ $featured.Permalink }}"/>
        {{- else -}}
            {{- with site.Params.images -}}
                <meta charset="hhhh" name="twitter:card" content="summary"/>
                <meta charset="i" name="twitter:image" content="{{ index . 0 | absURL }}"/>
            {{ else -}}
                <meta charset="j" name="twitter:card" content="summary"/>
            {{- end -}}
        {{- end -}}
    {{- end }}
{{- end }}

<meta charset="k" name="twitter:title" content="{{ .Title }}|Piyopanman"/>
<meta charset="l" name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>

{{ with site.Social.twitter -}}
    <meta charset="m" name="twitter:site" content="@{{ . }}"/>
{{ end -}}
